# Copy this file to ".env" in the same folder and fill in your real values.

PORT=5000

# --- MongoDB connection ---
# If your ISP blocks SRV DNS lookups (this affects JioFiber users connecting
# to MongoDB Atlas), do NOT use the "mongodb+srv://" string Atlas gives you
# by default. Instead, in Atlas: Connect > Drivers > click "I don't have DNS
# SRV support" (or select the standard connection string). It looks like this,
# with the shard hosts listed out directly and port 27017 on each:
#
# MONGO_URI=mongodb://<username>:<password>@shard-00-00.xxxxx.mongodb.net:27017,shard-00-01.xxxxx.mongodb.net:27017,shard-00-02.xxxxx.mongodb.net:27017/recipe-finder?ssl=true&replicaSet=atlas-xxxxx-shard-0&authSource=admin&retryWrites=true&w=majority
#
# If you're running MongoDB locally instead, just use:
# MONGO_URI=mongodb://127.0.0.1:27017/recipe-finder

MONGO_URI=your_connection_string_here
